*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: montserrat;
    background: linear-gradient(#f2d8ec,hsl(197, 67%, 82%));
    display:flex;
    align-items: center;
    justify-content: center;
}
.page{
    background: linear-gradient(hsl(197, 67%, 82%),#f2d8ec);
    height: 4.txt_field00px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.3);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 50px;
}

.text_field{
    display: flex;
    justify-content: center;
}
label{
    text-align: center;
}